#sidePanel{
    width:290px;
    position:fixed;
    top:0%;
    height: 100%;
    z-index: 16;    
}

#panelHandle{
    height:30px;
    width:30px;
    float:left;
    cursor:pointer;
    z-index: 16;
    margin-left : -30px;
}


#panelContent{
    float:left;
    border:1px solid #333333;
    width:245px;
    height:100%;
    background-color:#EEEEEE;
    z-index: 16;
}


#panelHandle p {
    font-size: 18px;
    font-weight: bold;
    left: -4px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 16px;
    z-index: 16;

}

#github {
    width: 245px;
}

#submitme {
    height: 0px;
    width: 0px;
    position: fixed;
    top: -500;
}

#controls {
    width: 225px;
    margin-left: 10px;
}


#resultCode {
    display: inline-block;
    width: 177px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}