
<div id="sidePanel">
	<div id="panelContent">
		<div style="position: absolute; overflow: hidden; top:20px; bottom:0">
			<div style="width: 120%; height:100%; overflow-y: scroll">
				<table id="controls" class="table table-hover">
					<tbody>
						<tr>
							<td>
								<h2>Code</h2>
								<code><%= @code %></code>
							</td>			
						</tr>

						<tr>
							<td>
								<label for="viewHtml">View HTML</label>
							</td>
							<td>
								<input type="checkbox" id="viewHtml" checked="">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="panelHandle"><p>S\\//\//im</p></div>
</div>