/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require global
 *= require codemirror
 *= require ambiance-light
 *= require ambiance
 *= require blackboard
 *= require cobalt
 *= require eclipse
 *= require elegant
 *= require erlang-dark
 *= require lesser-dark
 *= require midnight
 *= require monokai
 *= require neat
 *= require night
 *= require rubyblue
 *= require solarized
 *= require twilight
 *= require vibrant-ink
 *= require xq-dark
 *= require xq-light
 *= require show-hint
 *= require bootstrap.min
 */


 @import url(http://fonts.googleapis.com/css?family=Faster+One);
 #goButton {
 	position: fixed;
 	top: 60px;
 	right: 20px;
 	z-index: 999;
 }

.button {
  display: block;
  width: 25px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#results {
	height: 700px;
	overflow: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

