<!-- <button id="goButton" title="Run Swim" onclick="sendCommand()" class="for-code">▶</button> -->
<a href="code" id="goButton" title="Run Swim" class="for-code button">▶</a>
<div id="stuff">
<form><textarea id="code" name="code">
</textarea></form>
</div>
