<header>
	<h1 style="margin-bottom: .2em;"><a href="/" style="font-family: dubtronic_inlineregular;">Swimco.de</a></h1>
	<div class="with-dropdown">
		<button class="with-symbol" title="Settings">⚙</button>
		<form id="settings" class="dropdown">
			<fieldset id="view">
				<legend>View settings</legend>
				<div class="segmented-control">
				<p>theme: <select onchange="selectTheme()" id=select>
					<option selected>default</option>
					<option>ambiance</option>
					<option>ambiance-light</option>
					<option>blackboard</option>
					<option>cobalt</option>
					<option>eclipse</option>
					<option>elegant</option>
					<option>erlang-dark</option>
					<option>lesser-dark</option>
					<option>midnight</option>
					<option>monokai</option>
					<option>neat</option>
					<option>night</option>
					<option>rubyblue</option>
					<option>solarized dark</option>
					<option>solarized light</option>
					<option>twilight</option>
					<option>vibrant-ink</option>
					<option>xq-dark</option>
					<option>xq-light</option>
				</select>
			</p>
		</div>
		


		<label class="font-size slider" title="Font size">
			<span title="Smaller">A</span>
			<input id="fontRange" type="range" name="fontRange" min="8" max="72" value="13" step="1">
			<span title="Larger">A</span>
		</label>

</fieldset>

	</form>
</div>

<div class="with-dropdown" id="cloud">
	<button id="save-button" class="with-symbol" title="Save">☁</button>
	<menu class="dropdown">
		<a href="#" onclick="wipeEditor();" class="command" data-keyboard="">New Swim</a>
		<hr />

		<h3 class="mentitle" data-disabled>Samples</h3>
		<a onclick="loadProgram('meme')" class="command" tabindex="0" data-keyboard>1. Meme</a>
		<a onclick="loadProgram('arstechnica')" class="command" tabindex="0" data-keyboard>2. Arstechnica</a>
		<a onclick="loadProgram('fibonacci')" class="command" tabindex="0" data-keyboard>3. Lambda</a>
		<a onclick="loadProgram('pdf')" class="command" tabindex="0" data-keyboard>4. PDF Notes</a>
		<a onclick="loadProgram('nytimes')" class="command" tabindex="0" data-disabled>NYTimes Sample</a>
		<a onclick="loadProgram('engadget')" class="command" tabindex="0" data-disabled>Engadget</a>
	</menu>
</div>

<div class="controls-group">
	<a href="/help/index.html" class="button" title="Help &amp; credits" target="_blank">About</a>
	<div class="tabs">


		<input type="radio" name="page" value="all" id="page-all" checked data-scope="file" />
		<label for="page-all" title="⌘3" class="tab">
			<span class="title">Swim</span>
		</label>
	</div>
</div>
</header>